{%- from 'form_macros.html' import label_with_errors, value -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Master Maintenance</title>
  <style>
    .bottom {
      border: none;
      border-bottom: 2px solid #555;
    }
    .collapse {
      border-collapse: collapse;
    }
    th {
      text-align: left;
      padding: 0 10px;
    }
    td {
      text-align: left;
      padding: 0 10px;
    }
  </style>
</head>
<body>
  <h1>{{ table_name }}</h1>
  <form action="/master/{{ table_name }}/create" method="GET"><input type="submit" value="create"/></form>
  <table class="collapse">
    <thead>
      <tr class="bottom">
        <th></th>
        {% for c in columns %}
          <th>{{ c }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for r in list_data %}
        <tr class="bottom">
          <td>
            <form action="/master/{{ table_name }}/{{ r['id'] }}" method="GET"><input type="submit" value="show"/></form>
            <form action="/master/{{ table_name }}/{{ r['id'] }}/update" method="GET"><input type="submit" value="update"/></form>
            <form action="/master/{{ table_name }}/{{ r['id'] }}/delete"><input type="submit" value="delete" method="GET"/></form>
          </td>
          {% for c in columns %}
            <td>{{ r[c] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
