{%- from 'form_macros.html' import label_with_errors, value -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Master Maintenance</title>
  <style>
    .bottom {
      border: none;
      border-bottom: 2px solid #11f;
      font-size: 16px;
    }
    .bottom:disabled {
      border-bottom: 2px solid #555;
    }
  </style>
</head>
<body>
  <h1>{{ table_name }}</h1>
  <form method="POST">
    <table>
      {% for field in form %}
        <tr>
          <td>{{ label_with_errors(field) }}</td>
          <td>{{ field(class='bottom') }}</td>
        </tr>
      {% endfor %}
    </table>
    {% if button %}
    <input type="submit" value="{{ button }}">
    {% endif %}
  </form>
  <form method="GET" action="/master/{{ table_name }}">
    <input type="submit" value="back" />
  </form>
</body>
</html>
